<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Créer un Item</title>
  </head>
  <body>
    <h1>Ajouter un nouvel Item</h1>
    <form action="/items" method="POST">
      <label for="name">Nom:</label>
      <input type="text" name="name" id="name" />
      <label for="quantity">Quantité:</label>
      <input type="number" name="quantity" id="quantity" />
      <button type="submit">Ajouter</button>
    </form>
  </body>
</html>
