<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Items</title>
  </head>
  <body>
    <h1>Liste des Items</h1>
    <ul>
      <%= item.name %>
    </ul>
    <a href="/items">Tous les produits</a>
  </body>
</html>
